.managementItem{
    background-color: white; 
    border-radius: 5px; 
    padding: 40px 20px; 
    text-align: center;
}

#imageContainer {
  position: absolute;
  width: 80%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(0);
  transition: all ease 0.5s;
  opacity: 0.5;
  top: 0;
  right: 0;
}

#imageContainer:hover {
  filter: saturate(100%);
}

#imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

@media (max-width: 768px) {
  #imageContainer{
    display: none;
  }
}