body {
    margin: 0;
    overflow-x: hidden;
}
main{
    overflow: hidden;
    padding: 30px;
    margin: 20px;
}
.Hero{
    position: relative;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.overlay{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: #A7D129;
}
.Hero canvas {
    position: absolute;
    z-index: 0;
    width: 100vw !important;
    height: 90vh !important;
    pointer-events: none;
    display: block;
    overflow: hidden;
}

.blur-line{
    position: absolute;
    height: 100px;
    width: 100vw;
    margin-top: -50px;
    z-index: 3;
    backdrop-filter: blur(20px);
}

.BlogOverlay{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    color: #A7D129;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: opacity .3s ease;
    padding: 10px;
}

.BlogOverlay h2{
    white-space: nowrap;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogLink{
    background-color: #08CB00;
}

.BlogLink a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}

.BlogOverlay:hover{
    opacity: 1;
}

.scrolling{
    justify-content: space-between;
    overflow: hidden;
    min-width: 100%;
    padding: 0;

    animation: scroll 17s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100%));
  }
}
