body{
    background-color: #EEEEEE;
}

.DescContent {
    display: none; /* hidden by default */
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-left: 3px solid #007bff;
    margin-bottom: 10px;
    border-radius: 4px;
}


.DescButton {
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    background-color: #08CB00;
    border-radius: 4px;
    margin-bottom: 2px;
    font-weight: bold;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.DescButton:hover {
    background-color: #08af02;
}

.Percission3DTitle {
    padding: 10px 20px;
    background-color: #08CB00;
    border-radius: 4px;
    margin: 30px 0;
    font-weight: bold;
    display: inline-block;
}

.Percission3DItem{
    overflow: hidden;
    border-radius: 10px;
}

.Percission3DItem img{
    transition: transform 0.4s ease;
}

.Percission3DItem img:hover {
    transform: scale(1.1);
}


.PercissionOverlay{
    width: 60%;
    height: 30%;
    position: absolute;
    left: 20%;
    bottom: 10%;
    right: 20%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity .3s ease;
}

.PercissionTitle{
    /* background-color: #EEEEEE; */
    color: black;
}